* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none; /* remove os marcadores de lista padrão*/
  }
  
  body {
    cursor: url("data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAK4at/yuGrf8rhq3/K4at/yuGrf8rhq3/K4at/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArh67pKoau5yuGrf8rhq3/K4at/yuGrf8rhq3/Koau5yuGrf8vvvv/L8D//y/A//8vwP//L8D//y/A//8vwP//K4at/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACuGrf8vwP//L8D//y/A//8vwP//L8D//y/A//8vwP//K4at/y/A//8vwP//rvT//670//8vwP//L8D//y/A//8rhq3/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAArhq3/L8D//y/A//8vwP//L8D//y/A//8vwP//L8D//y/A//8rhq3/L8D//y/A//8rhq3/L8D//y/A//8vwP//L8D//yuGrf8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACqGrucvwP//rvT//670//8vwP//L8D//y+48v8vuPL/L8D//yuGrf8wwv//K6/o/y/A//8skr3/LJK9/y/A//8vuPL/Koau5wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACuGrf8rhq3/K4at/yuGrf8rhq3/K4at/y6u4/8vwP//K4at/wUFBf8FBQX/K4at/yuGrf8rhq3/K4at/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAD/////6Ojo/wAAAAAAAAAAAAAAAAAAAP8UA67/FAOu/xQDrv8UA67/DwSB/wUFBf8AAAD/AAAAAAAAAAAAAAAA6Ojo/+jo6P8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6Ojo////////////6Ojo/wAAAAAAAAAAEwOt/xMDrf9PK///EwOt/08r//89H+P/DwSB/w8Egf8AAAAAAAAAAOjo6P///////////+jo6P8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP//////////6Ojo////////////AAAAAE0q+f9PK///Tyv//08r//9PK///Tyv//08r//9PK///DwSB/wAAAAD//////////////////////////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA6Ojo//////////////////////8AAAAATSr5/08r//9PK///Tyv//08r//9PK///Tyv//08r//8PBIH/AAAAAP////////////////////8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/////wAAAP8AAAD/AAAA/wAAAAAaGrD/Tyv//08r//9PK///Tyv//08r//9PK///Tyv//w8Egf8AAAAAAAAA/wAAAP8AAAD//////wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP8AAAD/AAAA/xoasP9PK///Tyv//08r//9PK///Tyv//08r//9PK///DwSB/wAAAAAAAAD/AAAA/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/wAAAP8AAAD/Ghqw///////j4+P/Tyv//+Pj4///////Tyv//w8Egf8PBIH/AAAA/wAAAP8AAAD/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUF/wAAAP8AAAD/CQOt//z6/P9PK////Pr8/wkDrf8FBQX/BQUF/wUFBf8FBQX/BQUF/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAwME/wAAAP8FBQX/BQUD/wUFA//U4f//1OH//wUFBf8DAwP/BQUF/wUFBf8FBQX/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBQX/BQUF/wUFBf8DAwP/1OH//9Th///U4f//1OH//wUFBf8FBQX/BQUF/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA1OH//9Th//8AAAD/AAAA/wAAAP/U4f//1OH//wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAANTh///U4f//AAAA/9Th///U4f//1OH//wAAAP/U4f//1OH//wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA0N38/9Th///U4f//1OH//wUFBf/U4f//1OH//9Th///U4f//1OH//wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADU4f//1OH//9Th//8AAAD//////wUFBf/U4f//1OH//9Th///U4f//AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUFBf/U4f//1OH//wAAAP/U4f//AAAA/9Th///U4f//1OH//9Th//8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUF/9Th///U4f///Pr8/9Th///8+vz/1OH//9Th//8FBQX/BQUF8wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBQX/BQUF/wUFBf8FBQX/1OH//9Th////////1OH////////U4f//1OH//wUFBf8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUF/wUFBf8FBQX/BQUF/wUFBf8FBQX/1OH//9Th///U4f//1OH//9Th//8FBQX/BQUF/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFBQX/AQEB/wUFBf8FBQX/BQUF/wUFBf/U4f//BQUF/9Th///U4f//BQUF/wUFBf8FBQX/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUFBf8BAQH/BQUF/wUFBf8FBQX/BQUF/wUFBf8FBQX/BQUF/wUFBf8FBQX/BQUF/wUFBf8FBQX/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUF/wUFBf8FBQX/BQUF/wUFBf8FBQX/AAAAAAAAAAAFBQX/BQUF/wUFBf8FBQX/BQUF/wUFBf8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUF/wUFBf8FBQX/BQUF/wAAAAAAAAAAAAAAAAUFBf8FBQX/BQUF/wUFBf8FBQX/BQUF/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAQE5wQEBOcAAAAAAAAAAAAAAAAAAAAABQUF/zwnGv8FBQX/BQUF/wUFBf8FBQX/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQUF/wUFBf8FBQX/BQUF/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA////////gP//AAB//wAAf/4AAH/+AAB//wAB//5wDn/8MAw/+CAIP/ggCH/8IAh//wAJ//8AAf//gAP//8AD///AB///8B///+AP///gB///4Af//+AH///gB///AA///gAP//4AD//+AAf//gYH//8OB///ngf///8P//////8="),
      auto;/*define o cursor do mouse como uma imagem especificada por meio da propriedade "url"*/
  }
  

 header { /*define estilos para um elemento de cabeçalho no documento*/
    width: 100%; /*largura*/
    background-color: #1e1e1e; /*fundo de cor*/
    height:20vh; /*altura*/
  }
  
  .menu ul {/*lista não ordenada dentro do menu*/
    text-align: center;
    list-style: none;
    padding-top: 68px;
    width: 30vw;/*largura*/
  
  }
  
.menu li {/*estilos para os itens de list, dentro da classe menu*/
    display: inline-block; /*são exibidos em linha*/ 
    font-family: Lily Script One;
    font-size: 33px; /*tamanho */


  .menu li a {
    color: white; /*cor*/
    text-decoration: none; /*remove a decoração do link */
  }
  
  .banner img{
    text-align: center; /* alinha o texto ao centro*/
    background-color: white;
    height: 80vh;   /*altura*/   
    width: 100%;/*largura*/
  }

/*filmes em destaque*/

  .primeira-coluna {
    margin-top: 74px; /*é usado para definir a margem superior, especifica o espaço entre o elemento e o elemento pai acima dele*/
    text-align: center;
    align-content: center; /*o align-content é utilizado em contêineres flexíveis para alinhar e controlar o posicionamento do conteúdo no eixo transversal (vertical)
      quando há várias linhas de itens. Já o center é p/ centralizar o conteúdo verticalmente dentro do contêiner*/
    margin-bottom: 137px; /*espaçamento inferior*/
    
        
  }
  
  main li {
    display: inline-block;
  
  }
  .segunda-coluna {
    margin-top: 100px;
  }

 div img {
     width: 88%;/*largura*/
     height: 88vh;/*altura*/
     flex-wrap: wrap;
     justify-content: space-around;
    border-radius: 61px; /*borda circular*/
    border: 5px solid #000000; /*tamanho da borda*/
  }
/* RODAPÉ */
 
  footer {
    width: 100%;
    background: #1e1e1e;
    color: white; 
    height: 167px;/*altura*/
    font-family: Actor;
    font-size: 18px; 
    text-align: center; /*alinhamento de texto ao centro*/
    padding-top: 25px; /*preenchimento superior*/
  }
  footer p {
    display: inline-block;
    margin-right: 20px; /*margem direita */
  }
  footer li,
  footer ul {
    display: inline-block;
  }
  footer li {
 
    margin-right: 10px;/*margem direita */
  }
